@charset "utf-8";

/* default */
*{margin:0; padding:0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;}
ul{list-style:none;}
a, img{text-decoration:none; border:none;}
a{color: inherit;}
.unselect{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

.mobile{display: none;}
.desktop{display: block;}


/* Fonts */
/* https://fonts.google.com/specimen/PT+Mono?selection.family=PT+Mono|Titillium+Web:300,400 */
@import url('https://fonts.googleapis.com/css?family=PT+Mono|Titillium+Web:300,400');

body{
	background:#202020;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: 'Titillium Web', sans-serif;
	color:#fff;
	font-size: 16px;
	overflow-x: hidden;
}
.bg{
	width:100%;
	height: 100%;
}
.current-home .bg{
	position: fixed;
	z-index: -1;
}

#main-container{
	padding: 58px 82px 58px 78px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	min-height: 100vh;
	max-width: 1440px;
    margin: 0 auto;
}
header{
	width:100%;
	position: relative;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
#header-logo{
	flex: 0 0 92px;
	width: 92px;
	height: 57px;
	margin-right:80px;
	background: #fff;
	background:url(../images/logo.svg) no-repeat top left;
}
nav{
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width:100%;
	max-width: 940px;
}
#menu-options{
	position: absolute;
	min-width: 90px;
	cursor: pointer;
	height: 30px;
}
#menu-options > div{
	font-family: 'PT Mono', monospace;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 0.93px;
	display: inline-block;
	margin-top:6px;
	padding-left:18px;
	margin-left:30px;
	opacity: 0;
	-webkit-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	-moz-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	position: absolute;
	top:10px;
	cursor: pointer;
}
#menu-options.open .opened{
	display: inline-block;
	vertical-align: top;
	opacity: 1;
	top:0;
}
#menu-options.close .closed{
	display: inline-block;
	vertical-align: top;
	opacity: 1;
	top:0;
}

#menu-options span{
	position: absolute;
	background: #fff;
	-webkit-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	-moz-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	transition: all 300ms cubic-bezier(.39,.07,.2,.98);
}
#menu-options span:before{
	content: '';
	position: absolute;
	background: #fff;
	-webkit-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	-moz-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	transition: all 300ms cubic-bezier(.39,.07,.2,.98);
}
#menu-options span:after{
	content: '';
	position: absolute;
	background: #fff;
	-webkit-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	-moz-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	transition: all 300ms cubic-bezier(.39,.07,.2,.98);
}

#menu-options.open span{
	width:24px;
	height: 2px;
	margin-top:4px;
    -webkit-transform: translate3d(0,8px,0) rotate(-45deg);
    -moz-transform: translate3d(0,8px,0) rotate(-45deg);
    transform: translate3d(0,8px,0) rotate(-45deg);
}
#menu-options.open span:before{
	width:24px;
	height: 2px;
	top:6px;
	-webkit-transform: translate3d(0,-6px,0) rotate(90deg);
	-moz-transform: translate3d(0,-6px,0) rotate(90deg);
	transform: translate3d(0,-6px,0) rotate(90deg);
}
#menu-options.open span:after{
	width:30px;
	height: 0px;
	top:12px;
	-webkit-transform: translate3d(0,-12px,0);
	-moz-transform: translate3d(0,-12px,0);
	transform: translate3d(0,-12px,0);
}

#menu-options.close span{
	width:30px;
	height: 2px;
	margin-top:4px;
}
#menu-options.close span:before{
	width:20px;
	height: 2px;
	top:6px;
}
#menu-options.close span:after{
	width:10px;
	height: 2px;
	top:12px;
}

nav ul li a{
	font-size: 16px;
	line-height: 24px;
	color: #fff;
}
nav ul{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-transition: height 300ms cubic-bezier(.39,.07,.2,.98);
	-moz-transition: height 300ms cubic-bezier(.39,.07,.2,.98);
	transition: height 300ms cubic-bezier(.39,.07,.2,.98);
	height: 26px;
	overflow: hidden;
	margin-left: 27.2%;
}
nav ul.open{
	height: 26px;

}
nav ul.close{
	height: 0;
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	transition-delay: 300ms;
}
nav ul li{
	margin-right: 50px;
	-webkit-transform:translate3d(-5px,0,0);
	-webkit-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	-moz-transform:translate3d(-5px,0,0);
	-moz-transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	transform:translate3d(-5px,0,0);
	transition: all 300ms cubic-bezier(.39,.07,.2,.98);
	opacity: 0;
	position: relative;
	height: 24px;
}
nav ul li:nth-child(2){
	-webkit-transition-delay: 30ms;
	-moz-transition-delay: 30ms;
	transition-delay: 30ms;
}
nav ul li:nth-child(3){
	-webkit-transition-delay: 60ms;
	-moz-transition-delay: 60ms;
	transition-delay: 60ms;
}
nav ul li:nth-child(4){
	-webkit-transition-delay: 90ms;
	-moz-transition-delay: 90ms;
	transition-delay: 90ms;
}
nav ul li:nth-child(5){
	-webkit-transition-delay: 120ms;
	-moz-transition-delay: 120ms;
	transition-delay: 120ms;
}
nav ul li:nth-child(6){
	-webkit-transition-delay: 150ms;
	-moz-transition-delay: 150ms;
	transition-delay: 150ms;
}
nav ul.open li{
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	opacity: 1;
}
nav ul li:after{
	content:'';
	position: absolute;
	width:100%;
	bottom:-2px;
	height: 1px;
	left:0;	
}
.current-home nav ul li:nth-child(1):after,
.current-works nav ul li:nth-child(2):after,
.current-about nav ul li:nth-child(3):after,
.current-team nav ul li:nth-child(4):after,
.current-blog nav ul li:nth-child(5):after,
.current-contact nav ul li:nth-child(6):after
{
	background: #fff;
}

.lang-options{
	font-size: 14px;
	flex: 0 0 83px;
	-webkit-flex: 0 0 83px;
	position: absolute;
	right:0;
}
.lang-options > *{
	position: relative;
}
.lang-options .en{
	margin:0 15px 0 5px;
}
.lang-options .chi{
	margin:0 0 0 15px;
}
.lang-en .lang-options .en:after{
	content: '';
	position: absolute;
	width:100%;
	background: #fff;
	bottom:-2px;
	height: 1px;
	left:0;
}

.main-wrapper{
	width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-top:132px;

    flex:1;
    -webkit-flex:1;
}
.main-wrapper:before{
	content:'';
	flex: 0 0 92px;
	-webkit-flex: 0 0 92px;
    margin-right: 80px;
    display: block;
}
.main-wrapper:after{
	content:'';
    flex: 0 0 83px;
    -webkit-flex: 0 0 83px;
    margin-left: 40px;
    display: block;
}
.main-content{
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 940px;
    position: relative;
}
.current-home .main-content:after{
	position: absolute;
	content: '';
	display: block;
	width:0;
	max-width: 500px;
	height: 700px;
	opacity: 0;
	background:rgba(0,0,0,.8);
	left:140px;
	top:-248px;
	z-index: -1;
	-webkit-transition: width 1000ms, opacity 1000ms;
	-moz-transition: width 1000ms, opacity 1000ms;
	transition: width 1000ms, opacity 1000ms;
}
.current-home .thumbnail{
	opacity: 0;
	-webkit-transform: translate3d(-3%,0,0);
	-moz-transform: translate3d(-3%,0,0);
	transform: translate3d(-3%,0,0);
	-webkit-transition: -webkit-transform 1000ms, opacity 1000ms;
	-moz-transition: -moz-transform 1000ms, opacity 1000ms;
	transition: transform 1000ms, opacity 1000ms;
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	transition-delay: 300ms;
}
.current-home .thumbnail .number{
	opacity: 0;
	-webkit-transition: opacity 1000ms;
	-moz-transition: opacity 1000ms;
	transition: opacity 1000ms;
	-webkit-transition-delay: 600ms;
	-moz-transition-delay: 600ms;
	transition-delay: 600ms;
}
.current-home .thumbnail .number:after{
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1);
	transform: scale(0,1);

	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;

	-webkit-transition: -webkit-transform 600ms;
	-moz-transition: -moz-transform 600ms;
	transition: transform 600ms;
	-webkit-transition-delay: 600ms;
	-moz-transition-delay: 600ms;
	transition-delay: 600ms;
}
.current-home .thumbnail .location{
	opacity: 0;
	margin-top:30px;
	-webkit-transition: margin-top 2000ms, opacity 1000ms;
	-moz-transition: margin-top 2000ms, opacity 1000ms;
	transition: margin-top 2000ms, opacity 1000ms;
	-webkit-transition-delay: 1000ms;
	-moz-transition-delay: 1000ms;
	transition-delay: 1000ms;
}

/* start animate*/
.start-animate.current-home .main-content:after{
	width:34.722222vw;
	opacity: 1;
}
.start-animate.current-home .thumbnail{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
}
.start-animate.current-home .thumbnail .number:after{
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
.start-animate.current-home .thumbnail .number{
	opacity: 1;
}
.start-animate.current-home .thumbnail .location{
	margin-top: 0;
	opacity: 1;
}
.home-list .txtcontent .title{
	opacity: 0;
	margin-left: -15px;
	-webkit-transition: margin-left 1200ms, opacity 1000ms;
	-moz-transition: margin-left 1200ms, opacity 1000ms;
	transition: margin-left 1200ms, opacity 1000ms;
	-webkit-transition-delay: 600ms;
	-moz-transition-delay: 600ms;
	transition-delay: 600ms;
}
.home-list .txtcontent .description{
	opacity: 0;
	margin-left: -15px;
	-webkit-transition: margin-left 1200ms, opacity 1000ms;
	-moz-transition: margin-left 1200ms, opacity 1000ms;
	transition: margin-left 1200ms, opacity 1000ms;
	-webkit-transition-delay: 800ms;
	-moz-transition-delay: 800ms;
	transition-delay: 800ms;
	max-width: 300px;
}
.home-list .txtcontent .btn-border{
	opacity: 0;
	margin-left: -15px;
	-webkit-transition: margin-left 1200ms, opacity 1000ms;
	-moz-transition: margin-left 1200ms, opacity 1000ms;
	transition: margin-left 1200ms, opacity 1000ms;
	-webkit-transition-delay: 900ms;
	-moz-transition-delay: 900ms;
	transition-delay: 900ms;
}
.start-animate.current-home .home-list .txtcontent .title{
	margin-left: 0;
	opacity: 1;
}
.start-animate.current-home .home-list .txtcontent .description{
	margin-left: 0;
	opacity: 1;
}
.start-animate.current-home .home-list .txtcontent .btn-border{
	margin-left: 0;
	opacity: 1;
}
.current-home .bg{
	transform-origin: center center;
    transform: scale(1.2,1.2);
    transition: transform 900ms, opacity 900ms;
    opacity: 0;
}
.start-animate.current-home .bg{
	opacity: 1;
	transform: scale(1,1);
}
.home-list{
	display: none;
}
*[data-work^="p"].show{
	display: flex;
    display: -webkit-flex;
}
.home-list{
	margin:0 auto;
	position: relative;
}

/* start2 */
.start-animate.current-home  .show .thumbnail{
	-webkit-animation: homethumbnail 1000ms;
	-moz-animation: homethumbnail 1000ms;
	animation: homethumbnail 1000ms;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
@-webkit-keyframes homethumbnail{
	from{
		-webkit-transform: translate3d(-3%,0,0);
		opacity: 0;
	}
	to{
		-webkit-transform: translate3d(0,0,0);
		opacity: 1;
	}
}
@-moz-keyframes homethumbnail{
	from{
		-moz-transform: translate3d(-3%,0,0);
		opacity: 0;
	}
	to{
		-moz-transform: translate3d(0,0,0);
		opacity: 1;
	}
}
@keyframes homethumbnail{
	from{
		transform: translate3d(-3%,0,0);
		opacity: 0;
	}
	to{
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}
.start-animate.current-home  .show .thumbnail .number:after{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-animation: homethumbnailnumberafter 1200ms;
	-moz-animation: homethumbnailnumberafter 1200ms;
	animation: homethumbnailnumberafter 1200ms;
}
@-webkit-keyframes homethumbnailnumberafter{
	0%{
		opacity: 0;
		-webkit-transform: scale(0,1);
	}
	50%{
		opacity: 1;
		-webkit-transform: scale(0,1);
	}
	100%{
		-webkit-transform: scale(1,1);
		opacity: 1;
	}
}
@-moz-keyframes homethumbnailnumberafter{
	0%{
		opacity: 0;
		-moz-transform: scale(0,1);
	}
	50%{
		opacity: 1;
		-moz-transform: scale(0,1);
	}
	100%{
		-moz-transform: scale(1,1);
		opacity: 1;
	}
}
@keyframes homethumbnailnumberafter{
	0%{
		opacity: 0;
		transform: scale(0,1);
	}
	50%{
		opacity: 1;
		transform: scale(0,1);
	}
	100%{
		transform: scale(1,1);
		opacity: 1;
	}
}
.start-animate.current-home  .show .thumbnail .number{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-animation: homethumbnailnumber 1300ms;
	-moz-animation: homethumbnailnumber 1300ms;
	animation: homethumbnailnumber 1300ms;
}
@-webkit-keyframes homethumbnailnumber{
	0%{
		opacity: 0;
	}
	23%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-moz-keyframes homethumbnailnumber{
	0%{
		opacity: 0;
	}
	23%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes homethumbnailnumber{
	0%{
		opacity: 0;
	}
	23%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.start-animate.current-home .show .txtcontent .title{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-animation: hometitle 1200ms;
	-moz-animation: hometitle 1200ms;
	animation: hometitle 1200ms;
}
@-webkit-keyframes hometitle{
	0%{
		opacity: 0;
		margin-left: -15px;
	}
	33%{
		opacity: 0;
		margin-left: -15px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
@-moz-keyframes hometitle{
	0%{
		opacity: 0;
		margin-left: -15px;
	}
	33%{
		opacity: 0;
		margin-left: -15px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
@keyframes hometitle{
	0%{
		opacity: 0;
		margin-left: -15px;
	}
	33%{
		opacity: 0;
		margin-left: -15px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
.start-animate.current-home .show .txtcontent .description{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-animation: homedescription 1200ms;
	-moz-animation: homedescription 1200ms;
	animation: homedescription 1200ms;
}
@-webkit-keyframes homedescription{
	0%{
		opacity: 0;
		margin-left: -15px;
	}
	66%{
		opacity: 0;
		margin-left: -15px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
@-moz-keyframes homedescription{
	0%{
		opacity: 0;
		margin-left: -15px;
	}
	66%{
		opacity: 0;
		margin-left: -15px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
@keyframes homedescription{
	0%{
		opacity: 0;
		margin-left: -15px;
	}
	66%{
		opacity: 0;
		margin-left: -15px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
.start-animate.current-home .show .txtcontent .btn-border{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-animation: homebtn 1400ms;
	-moz-animation: homebtn 1400ms;
	animation: homebtn 1400ms;
}
@-webkit-keyframes homebtn{
	0%{
		opacity: 0;
		margin-left: -15px;
	}
	75%{
		opacity: 0;
		margin-left: -15px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
@-moz-keyframes homebtn{
	0%{
		opacity: 0;
		margin-left: -15px;
	}
	75%{
		opacity: 0;
		margin-left: -15px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
@keyframes homebtn{
	0%{
		opacity: 0;
		margin-left: -15px;
	}
	75%{
		opacity: 0;
		margin-left: -15px;
	}
	100%{
		opacity: 1;
		margin-left: 0;
	}
}


.arrow{
	position: absolute;
	top:26px;
	left:0;
	z-index: 9;
	cursor: pointer;
}
.arrow > *{
	display: inline-block;
	cursor: pointer;
}
.arrow .prev{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 12px 6px 0;
	border-color: transparent #ffffff transparent transparent;
	margin-right: 16px;
}
.arrow .next{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 12px;
	border-color: transparent transparent transparent #ffffff;
}
.arrow .prev.disable{
	border-color: transparent #9B9B9B transparent transparent;
}
.arrow .next.disable{
	border-color: transparent transparent transparent #9B9B9B;
}
.home-list .txtcontent .title{
	margin-bottom: 22px;
}

.home-list .txtcontent{
	max-width: 300px;
    position: relative;
    top: 100px;
    width: 300px;
}
.home-list .txtcontent .description{
	margin-bottom: 36px;
}

.btn-border{
	border:1px solid #fff;
	padding:8px 23px;
	text-align: center;
	display: inline-block;
	letter-spacing: 0.93px;
	color:#fff;
	background: rgba(255,255,255,0);
	cursor: pointer;
	-webkit-transition: all 100ms;
	-moz-transition: all 100ms;
	transition: all 100ms;
}
.btn-border:hover{
	background: rgba(255,255,255,1);
	color:#000;
}

.home-list .thumbnail{
	padding: 0 80px 0 105px;
	width: 100%;
}
.thumbnail .number{
	position: absolute;
	font-family: 'PT Mono', monospace;
	font-size: 30px;
	padding-right: 10px;
	margin-left: -13.1944vw;
	margin-top: 20px;
	z-index: 2;
	min-height: 34px;
	min-width: 46px;
}
.thumbnail .number:after{
	position: absolute;
	content: '';
	max-width:190px;
	width:13.1944vw;
	height: 1px;
	background:#fff;
	display: block;
	top: 50%;
	left:100%;
}
.home-list .thumbnail .img{
	box-shadow: 30px 20px 20px rgba(0,0,0,.3);
	margin-bottom: 20px;
}
.home-list .thumbnail .img img{
	width: 100%;
	height: auto;
	object-fit: cover;
	max-height: 334px;
}
.thumbnail .location{
	font-family: 'PT Mono', monospace;
	font-size: 12px;
	letter-spacing: 1.8px;
	padding-left: 24px;
	position: relative;
	line-height: 16.39px;
}
.thumbnail .location:before{
	content: '';
	width:12px;
	height: 16.39px;
	background:url(../images/location.svg) no-repeat top left;
	background-size: cover;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

footer{
	margin: 50px 0 8px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding-left: 160px;
}
.current-home footer{
	padding-left: 0;
}

h1{
	font-size: 36px;
	line-height: 50px;
	font-weight: normal;
}
h2{
	font-size: 24px;
	color: #9B9B9B;
	line-height: 36px;
	letter-spacing: 1px;
	font-weight: normal;
}
h3{
	font-size: 24px;
	line-height: 40px;
	font-weight: normal;
}
h4{
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}
p{
	font-size:14px;
	line-height: 21px;
	font-weight: normal;
}
.blockquote{
	font-family: 'PT Mono', monospace;
	font-size: 14px;
	line-height: 15px;
}
.copyright{
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 1px;
	color: #9B9C9B;
}
.current-home .copyright{
	color: #fff;
}

.gototop{
	width:30px;
	height: 57px;
	margin-bottom:-62px;
	cursor: pointer;
}
.gototop span{
	width:1px;
	height: 57px;
	background: #fff;
	display: block;
	margin-left:10px;
}
.gototop span:after{
	position: absolute;
	width:15px;
	height: 1px;
	background: #fff;
	transform-origin: left top;
	transform: translate3d(1px, 0, 0) rotate(45deg);
	-webkit-transform-origin: left top;
	-webkit-transform: translate3d(1px, 0, 0) rotate(45deg);
	-moz-transform-origin: left top;
	-moz-transform: translate3d(1px, 0, 0) rotate(45deg);
	content: '';
}

/* About */
.content{
	width:100%;
	position: relative;
}

.about-list, .team-list, .contact-list{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.lt-fixed{
	position: sticky;
	position: -webkit-sticky;
	top:50px;
	left:0;
	align-self: flex-start;
	-webkit-align-self: flex-start;
	z-index: 1;
}
.lt-fixed li a{
	color: #9B9C9B;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	transition: color 300ms;
}
.lt-fixed li.current a{
	color: #fff;
}
.rt{
	width:460px;
}
.rt .section{
	position: relative;
	padding-bottom: 97px;
}
.current-about .rt > * .section:after{
	content: '';
	width: 60px;
	height: 1px;
	background:#fff;
	position: relative;
	display: block;
	margin-top: 97px;
}
.rt > *:last-child .section:after{
	display: none;
}
.rt .section h1{
	margin-bottom: 40px;
}
.rt .section h2{
	margin-bottom: 15px;
}
.rt .section h2 ~ p{
	margin-bottom:46px;
}
.rt .section h2 ~ p:last-of-type{
	margin-bottom:0;
}
.current-about .section ul{
	margin-left: 12px;
}
.current-about .section ul li{
	position: relative;	
	padding-left: 22px;
}
.current-about .section ul li:before{
	content: '';
	width: 6px;
	height: 7px;
	background:#fff;
	position: absolute;
	left:0;
	top:50%;
	margin-top: -3px;
}
.current-about .rt .section > span{
	position: absolute;
	z-index: -1;
}
.current-about .rt #s1 > span{
	width: 264px;
	height: 349px;
	background: url(../images/bg_about_b.png) no-repeat left top;
	background-size: cover; 
	top:-60px;
	left:-145px;
}
.current-about .rt #s2 > span{
	width: 264px;
	height: 349px;
	background: url(../images/bg_about_c.png) no-repeat left top;
	background-size: cover; 
	top:-76px;
	right:-126px;
}
.current-about .rt #s3 > span{
	width: 264px;
	height: 349px;
	background: url(../images/bg_about_k.png) no-repeat left top;
	background-size: cover; 
	top:-82px;
	right:19px;
}

/* Team */
.o-chart{
	position: relative;
}
.big-dot{
	position: relative;
}
.companyname{
	font-size: 20px;
	line-height: 30px;
}
.big-dot > span{
	width:40px;
	height: 40px;
	border-radius: 100%;
	border:1px solid #fff;
	display: block;
	position: relative;
	margin-top: 20px;
}
.big-dot > span:after{
	content: '';
	width:20px;
	height: 20px;
	border-radius: 100%;
	border:1px solid #fff;
	display: block;
	position: absolute;
	margin:8px 0 0 8px;
}
.small-dot{
	border-left:1px solid #979797;
	margin-left:20px;
	padding-left:140px;
	padding-top: 70px;
}
.small-dot:nth-child(2){
	padding-top: 0;
}
.dept-head{
	margin-bottom: 10px;
}
.dept-head:after{
	content: '';
	width:140px;
	height: 1px;
	background: #979797;
	position: relative;
	display: block;
	margin-left: -140px;
	margin-top: -11px;
}
.dept-head > span{
	width:21px;
	height: 21px;
	border-radius: 100%;
	border:1px solid #fff;
	display: block;
	position: relative;
	margin-top: 16px;
}
.dept-head > span:after{
	content: '';
	width:9px;
	height: 9px;
	border-radius: 100%;
	border:1px solid #fff;
	display: block;
	position: absolute;
	margin:4px 0 0 4px;
}
.dept-head .title{
	color:#9B9B9B;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
}
.dept-head .member-name{
	color:#fff;
	font-size: 20px;
	line-height: 20px;
}
.dept-head .member-name span{
	line-height: 20px;
	color: #fff;
	font-size: 12px;
	display: block;
	margin-top: 10px;
}

.dept-member{
	border-left:1px solid #979797;
	margin-left:10px;
	padding-left:27px;
	padding-top: 45px;
	position: relative;
}
.dept-member:nth-child(2){
	padding-top: 28px;
}
.dept-member:after{
	content: '';
	width:27px;
	height: 1px;
	background: #979797;
	position: relative;
	display: block;
	margin-left: -27px;
	margin-top: -11px;
}
.dept-member > span{
	width:21px;
	height: 21px;
	border-radius: 100%;
	border:1px solid #fff;
	display: block;
	position: absolute;
	bottom: -11px;
}
.dept-member > span:after{
	content: '';
	width:9px;
	height: 9px;
	border-radius: 100%;
	border:1px solid #fff;
	display: block;
	position: absolute;
	margin:4px 0 0 4px;
}
.dept-member .title{
	padding-left: 36px;
	color:#9B9B9B;
	font-size: 14px;
	line-height: 21px;
}
.section .member{
	margin-bottom: 100px;
}
.section .member .name{
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 1px;
}
.section .member .title{
	font-size: 16px;
	color: #9B9B9B;
}
.section .member .point{
	padding:30px 0 30px 12px;
	color:#9B9B9B;
}
.section .member .point li{
	padding-left: 22px;
	position: relative;
	line-height: 36px;
}
.section .member .point li:before{
	content: '';
	width: 4px;
	height: 5px;
	background:#9B9B9B;
	position: absolute;
	left:0;
	margin-top: 16px;
}
.section .member .profile-img{
	width:460px;
	height: 460px;
	position: relative;
	margin-left: -65px;
    margin-bottom: 15px;
}
.section .member .profile-img span.border{
	background: url(../images/profile_border.png) no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	background-size: cover;
	top:0;
	left:0;
	z-index: -1;
}
.section .member .profile-img.rotate180 span.border{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.section .member .profile-img.rotate270 span.border{
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	transform: rotate(270deg);
}
.section .member .profile-img img{
	border-radius: 100%;
	width:320px;
	height: 320px;
	overflow:hidden;
}
.section .member .profile-img img{
	margin: 76px 0 0 62px;
}
/*.section .member .profile-img.rotate180 img{
	margin: 76px 0 0 62px;
}
.section .member .profile-img.rotate270 img{
	margin: 76px 0 0 62px;
}*/

/* Contact */

.contact-list{

}
.company-info{

}
.contact-list .address{
	padding-bottom: 32px;
	position: relative;
}
.contact-list .address:after{
	content: '';
	width: 20px;
	height: 1px;
	background: #fff;
	position: relative;
	display: block;
	margin-top: 32px;
}
.contact-list .tel, .contact-list .email{
	padding-left:25px;
	position: relative;
	line-height: 30px;
	margin-bottom: 30px;
}
.contact-list .tel span, .contact-list .email span{
	display: inline-block;
	position: absolute;
	left: 0;
}
.contact-list .tel span.line, .contact-list .email span.line{
	display: none;
}
.contact-list form{
	margin:10px 0 0 0;
}

.contact-list input, .contact-list select, .contact-list textarea, .contact-list button{
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance:none;
}
.contact-list button{
	padding:11px 32px;
}

.contact-list input:placeholder, .contact-list textarea:placeholder{
	color: #626262;
}
.contact-list input, .contact-list textarea, .contact-list select{
	border:0;
	border-bottom:1px solid #fff;
	line-height: 32px;
	margin-bottom: 4px;
	width: 100%;
	background: none;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: #fff;
	font-size: 16px;
	font-family: inherit;
}
.contact-list textarea{
	background: url(../images/bg_msgbox.png) repeat left top;
	margin-bottom: 40px;
	max-width: 100%;
	width:100%;
	resize: none !important;
	border-bottom: 0;
}

.contact-list select{
	color:#626262;
}


/* Blog */
.blog{
	margin-bottom: 46px;
}
.blog .swiper-container{
	max-width: 100%;
	width: 380px;
	position: absolute;
}
.blog .swiper-wrapper{
	box-shadow: 30px 20px 20px rgba(0,0,0,.3);
}
.blog .article{
	padding: 0 0 74px 0;
	margin-left: 480px;
	border-bottom: 1px solid rgba(255,255,255,.3);
}
.blog .swiper-slide img{
	width: 100%;
	height: auto;
}
.article h1{
	margin-bottom: 30px;
	line-height: 46px;
}
.article p{
	margin-bottom: 30px;
	line-height: 24px;
	font-size: 16px;
}
.article .article-info{
	color: #9B9C9B;
	font-size: 13px;
	display: flex;
	display: -webkit-flex;
}
.article .article-info > *{
	margin-right: 10px;
	line-height: 20px;
	font-family: 'PT Mono', monospace;
}
.article .article-info span{
	vertical-align: top;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	margin-top:30px;
	text-align: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background: #D8D8D8 !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	background: #4D4E4C !important;
	opacity: 1 !important;
}

/* work */
.work{
	margin-bottom: 120px;
}
.work-content{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	margin:0 auto 57px;
}
.work-content .arrow{
	position: relative;
	padding-top: 26px;
	top:0;
	left:0;
}
.work-content .txtcontent{
	flex: 0 0 300px;
	-webkit-flex: 0 0 300px;
	position: relative;
	margin-right: 20px;
}
.work-content .txtcontent .type{
	position: absolute;
	top:90px;
	left:0;
	font-family: 'PT Mono', monospace;
	font-size: 12px;
	letter-spacing: 1.8px;
	color:#9B9C9B;
}
.work-content .txtcontent .title{
	padding-top:60px;
	margin-bottom: 8px;
}
.work-content .txtcontent .description{
	margin-bottom: 36px;
}

.work-content .thumbnail{
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}
.work-content .thumbnail .imgs img{
	max-width: 480px;
	object-fit: contain;
    max-height: 295px;
}
.work-content .thumbnail .imgs .img{
	-webkit-transition: visibility 200ms, opacity 0ms, height 0ms, width 0ms;
	-webkit-transition-delay: 0, 200ms, 200ms, 200ms;
	-moz-transition: visibility 200ms, opacity 0ms, height 0ms, width 0ms;
	-moz-transition-delay: 0, 200ms, 200ms, 200ms;
	transition: visibility 200ms, opacity 0ms, height 0ms, width 0ms;
	transition-delay: 0, 200ms, 200ms, 200ms;
	visibility: hidden;
	opacity: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.work-content .thumbnail .imgs .img.show{
	-webkit-transition: visibility 0ms, opacity 200ms, height 0ms, width 0ms;
	-webkit-transition-delay: 0;
	-moz-transition: visibility 0ms, opacity 200ms, height 0ms, width 0ms;
	-moz-transition-delay: 0;
	transition: visibility 0ms, opacity 200ms, height 0ms, width 0ms;
	transition-delay: 0;
	visibility: initial;
	opacity: 1;
	height: auto;
	width:100%;
}

.work-content .thumbnail .imgs{
	max-width: 480px;
	position: relative;
	margin-bottom: 20px;

}


.work ul.sub-list{
	padding-left:235px;
	display: flex;
	display: -webkit-flex;
}
.work ul.sub-list li{
	flex: 0 0 33%;
	-webkit-flex: 0 0 33%;
	color: #9B9C9B;
	font-size: 13px;
	font-family: 'PT Mono', monospace;
	line-height: 20px;
}
.work ul.sub-list li .title{
	line-height: 21px;
	padding-bottom: 14px;
	position: relative;
	margin-bottom: 22px;
	color: #fff;
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;

}
.work ul.sub-list li .title:after{
	width:21px;
	content: '';
	height: 1px;
	background:#fff;
	display: block;
	position: absolute;
	bottom:0;
}
.w{
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	transform:scale(0.8);
	opacity: 0;
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	transition: all 600ms;
}

.w.highlight--1,.w.highlight--1.done{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
	opacity: 1;
}
.w.done{
	opacity: 0.3;
}
.w img{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);	
	-webkit-transition: all 1200ms;
	-moz-transition: all 1200ms;
	transition: all 1200ms;
}
.w.highlight--1 .imgs img{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);	
}
.w .thumbnail .number span{
	opacity: 0;
	-webkit-transition: opacity 600ms 600ms;
	-moz-transition: opacity 600ms 600ms;
	transition: opacity 600ms 600ms;
}
.w.highlight--1 .thumbnail .number span, .w.done .thumbnail .number span{
	opacity: 1;
	-webkit-transition: opacity 600ms 600ms;
	-moz-transition: opacity 600ms 600ms;
	transition: opacity 600ms 600ms;
}
.w .thumbnail .number:after{
	-webkit-transition: all 300ms 400ms;
	-moz-transition: all 300ms 400ms;
	transition: all 300ms 400ms;

	-webkit-transform: scale(0,1);
    -webkit-transform-origin: right center;
    -moz-transform: scale(0,1);
    -moz-transform-origin: right center;
    transform: scale(0,1);
    transform-origin: right center;
}
.w.highlight--1 .thumbnail .number:after, .w.done .thumbnail .number:after{
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
.w .imgs{
	position: relative;
}
.w .imgs:after{
	content:'';
	width:101%;
	height: 101%;
	background: #202020;
	position: absolute;
	left:-0.5%;
	top:-0.5%;
	overflow: hidden;
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	transition: all 600ms;
}
.w.highlight--1 .imgs:after, .w.done .imgs:after{
	width:0;
}

.ruler{
	position: fixed;
	right:76px;
	top:50%;
	-webkit-transform: translate3d(0,-50%,0);
	-moz-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
	z-index: 2;
}
.ruler .line span{
	font-size: 13px;
	font-family: 'PT Mono', monospace;
	line-height: 20px;
	opacity: 0;
	-webkit-transition: opacity 900ms;
	-moz-transition: opacity 900ms;
	transition: opacity 900ms;
}
.ruler .line{
	position: relative;
	padding: 0 50px 6px 0;
	margin-bottom:4px;
	-webkit-transition: padding 900ms;
	-moz-transition: padding 900ms;
	transition: padding 900ms;
}
.ruler .line:before{
	width:46px;
	height:2px;
	background:#9B9B9B;
	content: '';
	display: inline-block;
	position: absolute;
	margin-top: 9px;
	right:0;
	-webkit-transition: all 900ms;
	-moz-transition: all 900ms;
	transition: all 900ms;
}
.ruler .line:after{
	width:36px;
	height:2px;
	background:#9B9B9B;
	content: '';
	display: inline-block;
	position: absolute;
	bottom:0px;
	right:0;	
}
.ruler .line.highlight--1{
	padding:0 78px 6px 0;
}
.ruler .line.highlight--1:before{
	width:72px;
	background:#fff;
}
.ruler .line.highlight--1 span{
	opacity: 1;
}
.arrow-icon .top span, .arrow-icon .down span{
	position: absolute;
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	transform-origin: right center;
    width: 0px;
    height: 0px;
    right: 0;
}
.arrow-icon .top span{
    -webkit-transform: rotate(-141deg);
    -moz-transform: rotate(-141deg);
    transform: rotate(-141deg);
    margin: 18px 6px 0 0;
}
.arrow-icon .down span{	
	-webkit-transform: rotate(39deg);
    -moz-transform: rotate(39deg);
    transform: rotate(39deg);

    margin: 12px 23px 0 0;
}
.arrow-icon .top span:before, .arrow-icon .down span:before{
	width:11px;
	height: 1px;
	background: #9B9B9B;
	content: '';
	position: absolute;
	display: block;
}
.arrow-icon .top span:after, .arrow-icon .down span:after{
	width:11px;
	height:1px;
	background: #9B9B9B;
	content: '';
	position: absolute;
	display: block;
	-webkit-transform: translate3d(7px,-5px,0) rotate(102deg);
	-moz-transform: translate3d(7px,-5px,0) rotate(102deg);
	transform: translate3d(7px,-5px,0) rotate(102deg);
}
.arrow-icon .top{
	width:30px;
	height: 30px;
	position: absolute;
	margin:-28px -5px 0 ;
	right:0;
}
.arrow-icon .down{
	width:30px;
	height: 30px;
	position: absolute;
	margin:6px -5px 0 0;
	right: 0;
}

@media only screen and (max-width: 1439px){
	.main-wrapper:before{
		flex: 0 0 0;
		-webkit-flex: 0 0 0;
	}
	.main-wrapper:after{
		flex: 0 0 0;
		-webkit-flex: 0 0 0;
	}
}

@media only screen and (max-width: 1280px){
	nav ul li{
		margin-right: 4vw
	}
	#menu-options > div{
		margin-left: 2vw;
	}
	#main-container {
		padding:4vw 5vw;
	}
	.main-wrapper:before{
		margin-right: 2vw;
	}
	.main-wrapper:after{
		margin-left: 0vw;
	}
	.home-list .thumbnail {
	    padding: 0px 6.152vw 0 320px;
	}
}

/* iPad */
@media only screen and (max-width: 1024px){
	#main-container {
		padding:4vw 4vw;
	}
	#header-logo{
		margin-right: 5vw;
	}
	.lang-options{
		margin-left: 2vw;
	}
	nav ul li {
	    margin-right: 3vw;
	}
	.main-wrapper{
		margin-top: 12vw;
	}
	.home-list .thumbnail {
	    padding: 0px 6.152vw 0 320px;
	}

	.current-works .rt{
		display: none;
	}

}

@media only screen and (max-width: 768px){
	#main-container{

	}
	
	nav ul{
	}
	nav ul li{
		margin-right: 2vw;
	}
	.current-contact .rt{
		width:430px;
	}
	.work-content .txtcontent{
		flex: 1 1 auto;
		-webkit-flex: 1 1 auto;
	}
	.work ul.sub-list{
		justify-content: flex-end;
		-webkit-justify-content: flex-end;
		padding:0;
	}
	.work ul.sub-list li{
		flex: 0 0 25.5%;
		-webkit-flex: 0 0 25.5%;
	}
}

/* Mobile */
@media only screen and (max-width: 767px){
	#main-container{
		padding:30px 0;
	}
	header{
		padding:0 18px;
		position: relative;
	}
	#header-logo{

	}
	nav{
		position: absolute;
		width: auto;
		top:15px;
		right: 17px;
    	z-index: 12;
	}
	nav ul li a{
		letter-spacing: 1px;
		font-size: 24px;
	}
	nav ul{
		flex-direction: column;
    	position: relative;
    	width: 100%;
    	top:0;
		left: 0;
		align-items: center;
		-webkit-align-items: center;
		text-align: center;
		-webkit-transform: translate3d(0,0,0) scale(0.98);
    	-webkit-transition: opacity 300ms, transform 300ms;
    	-moz-transform: translate3d(0,0,0) scale(0.98);
    	-moz-transition: opacity 300ms, transform 300ms;
    	transform: translate3d(0,0,0) scale(0.98);
    	transition: opacity 300ms, transform 300ms;
    	opacity: 0;
    	overflow:initial;
    	margin-left:0;
	}
	nav ul.open{
		opacity: 1;
		-webkit-transform: translate3d(0,0,0) scale(1);
		-moz-transform: translate3d(0,0,0) scale(1);
		transform: translate3d(0,0,0) scale(1);
		height: 100%;
		position: relative;
		order: 3;
		-webkit-order: 3;
		margin-top: -30px;
	}
	nav ul.open li:nth-child(1){
		margin-top: 80px;
	}
	nav ul li{
		margin-right: 0;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
		margin-bottom: 40px;
	}
	nav ul li:after{

	}
	nav ul.close{
		-webkit-transition-delay: initial;
		-moz-transition-delay: initial;
		transition-delay: initial;
		display: none;
	}
	body.open{
		overflow: hidden;
		width:100vw;
		height: 100vh;
	}
	nav.open .lang-options{
		display: block;
		position: relative;
		flex:0 0 auto;
		z-index: 13;
		font-size: 18px;
	    margin:0 auto;
	    padding-top:66px;
	    opacity: 1;
	}
	nav ul li:nth-child(6){
		margin-bottom: 260px;
	}
	nav.open{
		position: fixed;
		z-index: 2;
		overflow: hidden;
		overflow-y:auto;
		top:0;
		left:0;
		width: 100vw;
		height: 100vh;
		right: 0;
		flex-direction: column;
		-webkit-flex-direction: column;
		background: #363636;
		-webkit-overflow-scrolling:touch;
	}
	.lang-options{
		opacity: 0;
		-webkit-transition: all 300ms;
		-moz-transition: all 300ms;
		transition: all 300ms;
		-webkit-order: 2;
		order: 2;
		display: none;
	}
	.lang-options .en{
		margin:0 50px 0 5px;
	}
	.lang-options .chi{
		margin:0 0 0 50px;
	}
	.open #menu-options{
		position: relative;
	    order: 1;
	    -webkit-order: 1;
	    right: 18px;
	    top:42px;
	    width: 30px;
	    flex: 0 0 30px;
	    align-self: flex-end;
	    -webkit-flex: 0 0 30px;
	    -webkit-align-self: flex-end;
	}
	#menu-options{
		min-width: 30px;
		z-index: 13;
		right: 0;
		height: 30px;
		overflow: hidden;
	}
	#menu-options.open .opened, #menu-options.close .closed{
		display: none;
	}
	.main-wrapper{
		margin-top: 60px;
		padding:0;
	}
	.main-wrapper:before, .main-wrapper:after{
		display: none;
	}
	.current-home .main-content:after{
		left: 0;
	    width: 100%;
	    max-width: calc(100% - 37px);
	    top: -147px;
	    height: 100%;
	    padding-bottom: 157px; /* 147 + 34 */
	    -webkit-transition: none;
	    -moz-transition: none;
	    transition: none;
	}
	.main-content{
		
	}
	.home-list{
		margin-top: 60px;
		margin-left:18px;
    	flex-flow: column nowrap;
    	-webkit-flex-flow: column nowrap;
	}
	.home-list .thumbnail{
		position: relative;
	    top: 0;
	    left: 0;
	    width: 100%;
	    padding: 0 0 0 0;
	    order: 1;
	    -webkit-order: 1;
	    display: flex;
    	display: -webkit-flex;
    	flex-flow: column nowrap;
    	-webkit-flex-flow: column nowrap;
	}
	.home-list .txtcontent{
		order: 3;
		-webkit-order: 3;
		position: relative;
		top:-24px;
		margin-right:20px;
	}
	.home-list .arrow{
		order: 2;
		-webkit-order: 2;
		position: relative;
		top: 0;
		left:0;
		align-self: flex-end;
		-webkit-align-self: flex-end;
		padding-right: 16px;
		z-index: 1;
	}
	.thumbnail .location{

		order: 1;
		-webkit-order: 1;
		margin-bottom: 14px;
	}
	.thumbnail .number{
		order: 2;
		-webkit-order: 2;
		margin: -30px 0 0 0;
		right: 11.5625vw;
		padding:0 0 5px 0;
		font-size: 24px;
	}
	.thumbnail .number span{
		display: block;
		text-align: center;
	}
	.thumbnail .number:after{
		width:1px;
		height: 50px;
		top:100%;
		left:50%;
	}
	.home-list .thumbnail .img{
		order: 3;
		-webkit-order: 3;
		margin-bottom: 40px;
	}
	.home-list .thumbnail .img img{
		min-width: calc(100vw - 18px);
		max-height: 334px;
	}
	.thumbnail .location:before{
		
	}
	.home-list .txtcontent .title{
		margin-bottom: 12px;
	}
	.home-list .txtcontent .description{
		font-size: 16px;
	}
	.home-list .txtcontent .btn-border{
		width:100%;
	}

	.content{
		padding: 18px 18px;
		flex-direction: column;
		-webkit-flex-direction: column;
	}
	.lt-fixed{
		top: 0px;
	    margin: 0 0 0 -18px;
	    width: 100%;
	    padding: 0 18px;
	    box-sizing: content-box;
	    border-bottom: 1px solid rgba(255,255,255,.5);
	    background: #202020;
	    height: 62px;
	    margin-bottom: 30px;
	}
	.lt-fixed ul{
		width: 100%;
		height: 62px;
		-webkit-transition: height 300ms;
		-moz-transition: height 300ms;
		transition: height 300ms;
		overflow: hidden;
	}
	.lt-fixed li{
		line-height: 62px;
	}
	.lt-fixed li a{
		display: none;
	}
	.lt-fixed li.current a{
		display: block;
	}
	.lt-fixed span{
		position: absolute;
		top:0px;
		right: 0px;
		width:62px;
		height: 62px;
		padding:23px;
	}
	.lt-fixed span:before{
		content:'';
		width:16px;
		height: 1px;
		margin-top:7px;
		background: #fff;
		display: block;
		position: absolute;
	}
	.lt-fixed span:after{
		content: '';
		height:16px;
		width:1px;
		margin-left: 8px;
		margin-top: 0;
		background: #fff;
		position: absolute;
		-webkit-transition: all 300ms;
		-moz-transition: all 300ms;
		transition: all 300ms;
	}

	.lt-fixed.open li a{
		display: block;
	}
	.lt-fixed.open ul{
		position: absolute;
		height: 186px;
		z-index: 2;
		background: #202020;
		padding:0 18px;
		margin: 0 0 0 -18px;
		border-bottom:1px solid rgba(255,255,255,.5);
		width: 100%;
	}
	.lt-fixed.open span:after{
		margin-top:7px;
		height: 0;
	}

	.rt, .current-contact .rt{
		width: 100%;
	}
	.rt .section{
		padding-bottom: 60px;
	}
	.rt > * .section:after{
		margin-top:60px;
	}
	.rt #s1 > span{
	top:-60px;
	left:20px;
	}

	footer{
		display: block;
		text-align: center;
		padding:0;
		margin: 80px 0 120px 0;
	}
	footer .blockquote{
		position: absolute;
		top:145px;
		left:18px;
	}
	.gototop{
		margin: 0 auto -156px;
    	padding-top: 54px;
	}

	.copyright{
		color: #fff;
	}

	.o-chart{
		padding-left:20px;
	}
	.small-dot{
		padding-left: 35px;
	}
	.dept-head:after{
		width: 35px;
		margin-left: -35px;
	}
	.section .member .profile-img{
		width: 264px;
		height: 264px;
		margin: 0 auto 15px auto;
		overflow: hidden;
	}
	.section .member .profile-img img{
		width: 222px;
		height: 222px;
		margin: 19px 0 0 19px;
	}
	.section .member .profile-img span.border{
		width:119%;
		height: 119%;
	}
	.section .member{
		margin-bottom: 20px;
	}
	.section .member .profile-img.rotate180 span.border {
    	margin: -45px;
	}
	.section .member .profile-img.rotate270 span.border {
    	margin: -42px 0 0 -8px;
	}

	.company-info{
		font-size: 20px;
		margin-top: 70px;
	}
	.company-info .tel span.line{
		opacity: 0;
		display: block;
		width: 100%;
		position: relative;
		line-height: 0;
	}
	.company-info .tel br{
		content: "";
		margin: 0.5em;
		display: block;
	}
	.contact-list input, .contact-list textarea, .contact-list select{
		font-size: 20px;
		line-height: 44px;
	}
	.contact-list textarea{
		width:100%;
		background: url(../images/bg_msgbox_mobile.png) repeat left top;
	}
	.contact-list button{
		width:100%;
		display: block;
	}
	.blog .swiper-container{
		position: relative;
		width: auto;
		max-width: 100vw;
		margin: 0 -18px 20px;
	}
	.blog .article{
		margin:40px 0 0;
	}
	.blog .swiper-slide img{
		width: 100vw;
	}
	.blog{
		padding-top: 60px;
	}

	.w{
		opacity: 1;
		-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	transform: scale(1);
	}
	.work-content .thumbnail .imgs, .work-content .thumbnail .imgs img{
		max-width: 100vw;
	}
	.work-content .thumbnail .imgs{
		margin:0 -18px;
		order: 2;
		-webkit-order:2;
	}
	.w .imgs:after{
		display: none;
	}
	.work-content .arrow{
		visibility: hidden;
		pointer-events: none;
	}
	.work-content .txtcontent .type{
		top:26px;
	}
	.work-content .txtcontent .title{
		padding-top:0;
	}
	.work-content{
		-webkit-flex-direction: column;
		flex-direction: column;
		margin:0 auto;
	}
	.work-content .thumbnail{
		order:1;
		-webkit-order: 1;
		-webkit-flex: 0 0 auto;
		flex: 0 0 auto;
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		margin-top: 23px;
	}
	.w .thumbnail .number span{
		opacity: 1;
	}
	.w .thumbnail .number:after{
		opacity: 1;
		transform: scale(1,1);
	}
	.work-content .txtcontent{
		order:2;
		-webkit-order: 2;
		-webkit-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.work-content .thumbnail .number{
		right: 6.5625vw;
	}
	.sub-list{
		flex-direction: column;
	}
	.sub-list li{
		-webkit-flex: 0 0 100%;
		flex: 0 0 100%;
	}
	.work-content .thumbnail .imgs .img{
		width:100%;
		height: 100%;
		overflow: unset;
		visibility: visible;
		opacity: 1;
	}
	.work-content .thumbnail .imgs .img{
		height:56.25vw;
	}
	.work-content .swiper-container-horizontal>.swiper-pagination-bullets, .work-content .swiper-pagination-custom, .work-content .swiper-pagination-fraction{
		margin-top: 15px;
	}
}